

.MenuButton {
    width: 40px;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.MenuButton div {   
    width: 90%;
    height: 4px;
    background-color: white;
}
    
@media (min-width: 500px) {
    .MenuButton {
        display: none;
    }
}