.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px auto; */
}
.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px, solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 2px, solid rgb(148, 12, 12);
    background-color: rgb(212, 154, 154);
}